.header {
  align-items: center;
  background-color: var(--body, #fff);
  display: flex;
  gap: var(--gap, 1rem);
  justify-content: var(--header-align, space-between);
  max-width: 1280px;
  position: sticky;
  text-align: center;
  top: 0;
  z-index: 1;
  margin: {
    left: auto;
    right: auto;
  }
  padding: {
    bottom: calc(var(--spacing, 5rem) / 4);
    left: 1rem;
    right: 1rem;
    top: calc(var(--spacing, 5rem) / 4);
  }

  &.-align {
    &-around {
      --header-align: space-around;
    }

    &-center {
      --header-align: center;
    }

    &-evenly {
      --header-align: space-evenly;
    }

    &-left {
      --header-align: flex-start;
    }

    &-right {
      --header-align: flex-end;
    }
  }

  &.-vertical {
    flex-direction: column;
  }

  .icon {
    font-size: 32px;
  }
}
