.toast {
  @keyframes slideUp {
    0% {
      transform: translateY(calc(100% + 1.5vw));
    }
    100% {
      transform: translateY(0);
    }
  }

  @keyframes fadeOff {
    100% {
      width: 0;
      height: 0;
    }
  }

  border-radius: var(--radius, 6px);
  box-shadow: var(--card-shadow, 0 0 5px -1px #aaa);
  position: fixed;
  bottom: 1.5vw;
  left: 1.5vw;
  max-width: 500px;
  text-align: left;
  background-color: rgba(var(--toast-color), 0.15);
  padding: calc(var(--spacing) / 6);
  border: 1px solid rgb(var(--toast-color));
  display: flex;
  column-gap: calc(var(--spacing) / 12);
  align-items: center;
  animation: {
    name: slideUp;
    duration: 0.3s;
    timing-function: ease-in-out;
  }

  &.-danger {
    --toast-color: var(--danger);
  }

  &.-info {
    --toast-color: var(--info);
  }

  &.-success {
    --toast-color: var(--success);
  }

  &.-warning {
    --toast-color: var(--warning);
  }

  .icon {
    color: rgb(var(--toast-color));
  }
}
