@import "../../../assets/scss/breakpoints.scss";

.flexbox {
  align-items: var(--flex-align);
  display: flex;
  gap: var(--flex-gap, calc(var(--spacing) / 2));
  justify-content: var(--flex-justify);

  &.-align {
    &-baseline {
      --flex-align: baseline;
    }

    &-center {
      --flex-align: center;
    }

    &-end {
      --flex-align: flex-end;
    }

    &-start {
      --flex-align: flex-start;
    }

    &-stretch {
      --flex-align: stretch;
    }
  }

  &.-column {
    @include min($desktop) {
      flex-direction: column;
    }
  }

  &.-justify {
    &-around {
      --flex-justify: space-around;
    }

    &-between {
      --flex-justify: space-between;
    }

    &-center {
      --flex-justify: center;
    }

    &-end {
      --flex-justify: flex-end;
    }

    &-evenly {
      --flex-justify: space-evenly;
    }

    &-start {
      --flex-justify: flex-start;
    }
  }
}
